LogicInterpreter/xmls/validateSchemas/DiagramBlockSchema.xsd

<?xml version="1.0"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="block">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="src" maxOccurs="1" minOccurs="1"/>
      </xs:sequence>
		<xs:attribute name="name" type="xs:string" use="required"/>
		<xs:attribute name="type" type="xs:string" use="required"/>
		<xs:attribute name="default" type="xs:string" use="optional"/>
    </xs:complexType>
  </xs:element>
</xs:schema>